aiohttp
aiosignal
arrow
attrs
binaryornot==0.4.4
Brotli
certifi
cffi
cfgv
chardet
charset-normalizer
click
colorama
cookiecutter
datasets
dill
distlib
filelock
frozenlist
fsspec
huggingface_hub
identify
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
networkx
nodeenv
numpy
packaging
pandas
pillow
platformdirs
pre_commit
pyarrow==16.1.0
pyarrow-hotfix
pycparser
Pygments
PySocks
python-dateutil
python-slugify
pytz
PyYAML
regex
requests
rich
ruff
safetensors
setuptools==70.0.0
six
sympy
text-unidecode
tokenizers
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
tqdm
transformers
types-python-dateutil
typing_extensions
tzdata
ukkonen
urllib3
virtualenv
wheel==0.43.0
xxhash
yarl
kaggle==1.6.14
pytest==8.2.1
bs4==0.0.2
dvc==3.51.2
dvc-gdrive==3.0.1
argparse==1.4.0